.bid {
    margin-top: 18rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .handle-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: 100%;
        height: 100%;

        .errors {
            font-size: 1rem;
            color: rgb(255, 0, 0);
            font-weight: bold;
            margin-bottom: 2rem;
        }
    }

    .title {
        font-size: 60px;
        font-weight: bold;
        color: rgb(96, 71, 123);
        margin-bottom: 3rem;
    }

    .text-description {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100%;

        .description-area {
            width: 90%;
            height: 160px;
            resize: none;
            border-radius: 5px;
            font-size: 1rem;
            padding: 8px;
            border: 3px solid rgb(96, 71, 123);
        }

        .select {
            width: 80%;
            height: 4rem;
            text-align: center;
            font-size: 1.5rem;
            border-radius: 5px;
            padding: 8px;
            border: 3px solid rgb(96, 71, 123);
            cursor: pointer;
        }

        .input {
            width: 90%;
            height: 4rem;
            border-radius: 5px;
            font-size: 1rem;
            padding: 8px;
            border: 3px solid rgb(96, 71, 123)
        }
    }

    span,
    label {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .hr {
        width: 75%;
        border: 0.5px solid gray;
    }

    .hr-break {
        border: 2px solid rgb(96, 71, 123);
        margin: 1.5rem;
        width: 99%;
    }

    .div-price {
        .handle-input {
            width: 100%;

            #price {
                width: 90%;
                height: 4rem;
                border-radius: 5px;
                font-size: 1rem;
                padding: 8px;
                border: 3px solid rgb(96, 71, 123);
            }
        }
    }

    .submit {
        background-color: rgb(96, 71, 123);
        border-radius: 5px;
        color: white;
        font-size: 1.5rem;
        padding: 8px;
        width: 20rem;
        height: 4rem;
        margin-top: 2rem;
    }

    .not-submit {
        background-color: rgb(96, 71, 123);
        border-radius: 5px;
        color: white;
        font-size: 1.5rem;
        padding: 8px;
        width: 8rem;
        height: 3rem;
    }

    
}

@media only screen and (max-width: 700px) {
    .bid {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-left: 1rem;
        gap: 1rem;

        .title {
            font-size: 20px;
            font-weight: bold;
            color: rgb(96, 71, 123);
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
        }


        .text_description {
            display: flex;
            flex-direction: column;

            .description_area {
                width: 90%;
                height: 100px;
                resize: none;
                border-radius: 5px;
            }
        }

        .budget {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 2px;

            #price {
                width: 80%;
                // height: 10%;
            }

            #currency {
                width: 2rem;
                // height: 8rem;
                padding: 1px;
                color: white;
                background-color: rgb(96, 71, 123);
                border-radius: 5px;
            }
        }

        .days {
            #time {
                width: 80%;
            }

        }

        .proposal_plan {
            #proposalplan {
                width: 80%;
            }
        }

        .submit {
            .sub_btn {
                width: 70%;
                height: 4rem;
                font-size: 15px;
                border-radius: 7px;
            }
        }
    }

}