
.contain {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .navbar {
        height: 100px;
        display: flex;
        justify-content: space-between;
        background: transparent;
        align-items: center;
        transition: all 3s ease;
        background: linear-gradient(to right, rgba(121, 134, 248, 0.6), rgba(175, 121, 219, 0.6));

        .search-on-top {
            display: none;
        }

        &.barcolor {

            .search-on-top {
                display: block;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .logo {
            margin-left: 30px;
            margin-top: 12px;
            margin-bottom: 4px;
            padding: 8px;
            display: flex;
            align-items: center;
            gap: 35px;

            @media only screen and (max-width:1435px) {
                margin-left: 18px;
                margin-top: 8px;
                margin-bottom: 2px;
                padding: 5px;
            }

            img {
                @media only screen and (max-width:1435px) {
                    width: 150px;
                }
            }
        }

        .bar-options {
            display: flex;
            align-items: center;
            margin-right: 30px;
            gap: 50px;

            @media only screen and (max-width:1435px) {
                margin-right: 15px;
                gap: 30px;
                font-size: 18px;
            }

            .bar-links {
                display: flex;
                align-items: center;
                gap: 20px;

                .bar-text {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: #4d2048;
                    }
                }

                .management-options {
                    position: relative;
                    z-index: 5;

                    .user-bar-options {
                        box-shadow: 1px 1px 5px black;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        top: 40px;
                        padding-top: 0.7rem;
                        width: 10rem;
                        background-color: rgb(96, 71, 123);
                        right: 1px;

                        span {
                            height: 100%;
                            width: 100%;
                            border: 2px solid rgb(96, 71, 123);
                            background-color: white;
                            padding: 10px 5px;
                            box-sizing: border-box;
                        }
                    }
                }
            }

            .login {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 21px;

                @media only screen and (max-width:1435px) {
                    gap: 15px;
                    font-size: 18px;
                }

                .sign-link {
                    font-weight: bold;
                    color: darkviolet;
                    transition: all 0.5s;

                    &:hover {
                        color: rgb(193, 87, 239);
                    }

                }

                .join-btn {
                    border: 0.5px solid white;
                    border-radius: 15px;
                    background-color: darkviolet;
                    color: white;
                    font-size: 21px;
                    font-weight: bold;
                    width: 80px;
                    height: 40px;
                    transition: all 0.5s;
                    cursor: pointer;

                    &:hover {
                        border-radius: 12px;
                        background-color: rgb(69, 3, 98);
                    }

                    @media only screen and (max-width:1435px) {
                        font-size: 18px;
                        width: 60px;
                        height: 30px;
                    }
                }
            }

            .user-menu {
                position: relative;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                // background-color: red;
                // max-height: 8rem;
                // width: 2rem;
                .user-icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icon-span{
                        position: relative;
                        z-index: 1;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                        font-size: 2.5rem;
                        padding: 0.2rem;
                        background-color: rgba($color: #f8d7f4, $alpha: 0.7);
                        border: none;
                        border-radius: 50%;
                        // height: 3.5rem;
                        // width: 100%;
                        text-align: center;
                    }
                    img{
                        position: absolute;
                        height: 4rem;
                        width: 4rem;
                    }
                }

                .main-user-bar-options {
                    box-shadow: 1px 1px 5px black;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    top: 40px;
                    padding-top: 0.7rem;
                    width: 10rem;
                    background-color: rgb(96, 71, 123);
                    right: 1px;
                    z-index: 5;
                }

                span {
                    height: 100%;
                    width: 100%;
                    border: 2px solid rgb(96, 71, 123);
                    background-color: white;
                    padding: 10px 5px;
                    box-sizing: border-box;
                }
            }
        }

    }

    .hide-bar {
        height: 1.2rem;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(96, 71, 123, 0.3);
        transition: all 1s;

        span {
            cursor: pointer;
            background-color: rgba(96, 71, 123, 0.7);
            border: 1px solid black;
            color: white;
            border-radius: 3px;
            transition: all 1s;

            &:hover {
                background-color: rgb(96, 71, 123);
                font-weight: bold;
                border-radius: 5px;
            }
        }
    }

    .category-bar {
        transition: all 1s;
        height: 100px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(96, 71, 123, 0.6);
        transition: all 1s;

        .category-option {
            cursor: pointer;
            color: white;
            display: flex;
            align-items: center;
            gap: 35px;
            transition: all 1s;
            position: relative;

            &:hover {
                .catego-name-span {
                    color: rgb(0, 0, 0);
                }

                .down-icon {
                    background-color: black;
                }
            }

            .down-icon {
                transition: all 1s;
            }

            .sub-menu {
                background-color: rgba(255, 255, 255, 0.9);
                box-shadow: 1px 1px 5px black;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                top: 40px;
                padding-top: 0.7rem;
                width: 16rem;
                background-color: rgb(96, 71, 123);

                .link-box {
                    width: 100%;
                    border: 2px solid rgb(96, 71, 123);
                    background-color: white;
                    padding: 10px 5px;
                    box-sizing: border-box;

                    .link {
                        color: black;

                        font-size: 1.3rem;
                        font-weight: bold;

                        &:hover {
                            color: rgb(85, 2, 74);
                        }
                    }
                }
            }

            @media only screen and (max-width:1435px) {
                gap: 20px;

                .catego-name-span {
                    font-size: 14px;
                }
            }
        }

        @media only screen and (max-width:1435px) {
            padding: 0 10px;

        }
    }
}

.mobile-bar {
    background: linear-gradient(to right, rgba(121, 134, 248, 0.6), rgba(175, 121, 219, 0.6));
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mobile-logo {
        margin-left: 15px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 3px;

        img {
            width: 75px;
        }
    }

    .mobile-bar-options {
        display: flex;
        align-items: center;
        gap: 1rem;

        .mobile-join-btn {
            border: 0.5px solid white;
            border-radius: 15px;
            background-color: darkviolet;
            color: white;
            font-size: 14px;
            width: 82px;
            height: 25px;
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
                border-radius: 12px;
                background-color: rgb(69, 3, 98);
            }
        }

        .dropdown {
            position: relative;
            display: flex;
            align-items: center;
            padding-right: 0.5rem;

            img {
                cursor: pointer;
                width: 35px;
            }

            .drop-down-menu {
                position: absolute;
                border: 1px solid white;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                right: 0;
                margin: 0;
                top: 2rem;
                background-color: rgb(69, 3, 98);
                width: 11rem;
                overflow-y: scroll;
                overflow-x: hidden;
                height: 18rem;

                .menu-option {
                    border-bottom: 1px solid white;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                    padding: 4px;
                    margin-top: 3px;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }

            .smaller {
                overflow-y: hidden;
                height: auto;
            }
        }
    }

}

.language {
    border: 1px solid rgb(249, 194, 252);
    border-radius: 3px;
    padding: 2px;
    transition: all 0.5s;
    text-decoration: none;
    color: white;

    &:hover {
        border-radius: 5px;
        background-color: rgba($color: #4d2048, $alpha: 0.4);
    }
}

p {
    &:hover {
        // color: rgb(96, 71, 123);
    }
}

.pop_container {
    z-index: 2;
    width: 95%;
    height: 90%;
    background-color: rgb(96, 71, 123);
    position: fixed;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;

    .pop_up {
        background-color: rgb(229, 220, 240);
        border: 3px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
        width: 50%;

        @media only screen and (max-width: 600px) {
            width: 90%;
        }

        .close_pop_up {
            width: 100%;
            background-color: gray;
            display: flex;
            justify-content: flex-end;
            padding: 0.3rem;

            span {
                margin: 0 0.5rem;
                color: white;
                font-weight: bold;
            }

            button {
                border: 1px solid black;
                border-radius: 3px;
                box-shadow: 1px 1px 2px black;
            }
        }

        .pop_window {
            color: black;
            font-size: 1.3rem;
            font-weight: bold;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            button {
                width: 30%;
                border: 2px solid black;
                box-shadow: 0.2rem 0.2rem 1rem gray;
            }

            input {
                height: 1.3rem;
                width: 40%;
            }

            @media only screen and (max-width:800px) {
                button {
                    width: 65%;
                    border-radius: 5px;
                }

                input {
                    height: 1.3rem;
                    width: 70%;
                }
            }
        }

    }
}