.category-head {
    height: 30vh;
    background: linear-gradient(to right, rgb(121, 134, 248), rgb(175, 121, 219));
    padding-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .category-button {
        width: 100%;
        justify-self: center;
        align-self: center;
        text-align: center;

        .dashboard-button {
            margin: 1rem 1rem;
            width: 200px;
            height: 52px;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 50px;
            background-color: transparent;
            display: inline-block;
            justify-self: center;
            align-self: center;
            color: white;
            font-size: 19px;
            font-weight: normal;
            transition: all 0.5s;

            &:hover {
                background-color: rgba($color: white, $alpha: 0.3);
                // border-radius: 30px;
                border: 1px solid rgb(102, 49, 94);
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .category-head {
        // margin-top: 3rem;
        height: 22vh;
        background: linear-gradient(to right, rgb(121, 134, 248), rgb(175, 121, 219));
        padding-top: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .category-button {
            .dashboard-button {
                width: 180px;
                height: 42px;
                border: 1px solid rgb(255, 255, 255);
                border-radius: 50px;
                background-color: transparent;
                display: inline-block;
                justify-self: center;
                align-self: center;
                color: white;
                font-size: 16px;
                font-weight: normal;
                transition: all 0.5s;
            }
        }
    }

    @media only screen and (max-width:1080px) {
        .category-head {
            // margin-top: 3rem;
            height: 22vh;
            background: linear-gradient(to right, rgb(121, 134, 248), rgb(175, 121, 219));
            padding-top: 7rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .category-button {
                .dashboard-button {
                    width: 140px;
                    height: 42px;
                    border: 1px solid rgb(255, 255, 255);
                    border-radius: 50px;
                    background-color: transparent;
                    display: inline-block;
                    justify-self: center;
                    align-self: center;
                    color: white;
                    font-size: 12px;
                    font-weight: normal;
                    transition: all 0.5s;
                }
            }
        }

    }

    @media only screen and (max-width:720px) {
        .category-head {
            // margin-top: 3rem;
            height: auto;
            background: linear-gradient(to right, rgb(121, 134, 248), rgb(175, 121, 219));
            padding-top: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .category-button {
                .dashboard-button {
                    width: 100px;
                    height: 39px;
                    border: 1px solid rgb(255, 255, 255);
                    border-radius: 50px;
                    background-color: transparent;
                    display: inline-block;
                    justify-self: center;
                    align-self: center;
                    color: white;
                    font-size: 9px;
                    font-weight: normal;
                    transition: all 0.5s;
                }
            }
        }

    }
}

.modal-div {
    background-color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 5rem;

    .pop-up2 {
        background-color: rgb(96, 71, 123);
        border: 3px solid black;
        border-radius: 10px;
        display: flex;
        margin: 15%;
        margin-top: 1%;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
        width: 50%;
        min-height: 50%;

        .close-pop-up2 {
            width: 100%;
            background-color: gray;
            display: flex;
            justify-content: flex-end;
        }

        .pop-window2 {
            color: white;
            font-size: 1.3rem;
            font-weight: bold;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            button {
                width: 20%;
                border: 2px solid black;
                box-shadow: 0.2rem 0.2rem 0.2rem gray;
            }
        }
    }
}