.profile-edit{
    padding: 2rem;
    margin-top: 15rem;
    .wrong-window-message{
        height:25rem;
        width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        background-color: rgb(96, 71, 123);
        .wrong-window-span{
            text-align: center;
            padding: 0.5rem;
            color: #ffffff;
            font-size: 2rem;
            font-weight: bold;
        }
        .wrong-window-button{
            width: 50%;
            height: 4rem;
        }

    }
    hr{
        border:1px solid rgb(96,71,123)
    }
    span{
        font-size: 1.5rem;
        font-weight: bold;
    }
    input{
        padding: 2px;
        font-size: 1rem;
        width:70%;
        height: 3rem;
        border-radius: 4px;
    }
    .textarea{
        padding: 2px;
        font-size: 1rem;
        width:70%;
        height: 7rem;
        resize: none;
        border-radius: 5px;
    }
    .profile-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(96,71,123);
        padding: 4rem;
        gap:2.2rem;

        .input-div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap:1rem;
        }

            select{
                width: 40%;
                height: 2rem;
                font-size: 1.2rem;
                padding: 5px;
            }
        
    }
    .handle-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .errors {
            font-size: 1rem;
            color: rgb(255, 0, 0);
        }
    }
}
@media only screen and (max-width:650px){
    .profile-edit{
        padding: 2px;
        margin-top: 10rem;
        hr{
            border:1px solid rgb(96,71,123)
        }
        span{
            font-size: 1.1rem;
            font-weight: bold;
        }
        input{
            padding: 1px;
            font-size: 0.8rem;
            width:70%;
            height: 3rem;
            border-radius: 4px;
        }
        .textarea{
            padding: 1px;
            font-size: 0.8rem;
            width:70%;
            height: 7rem;
            resize: none;
            border-radius: 5px;
        }
        .profile-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid rgb(96,71,123);
            padding: 4rem;
            gap:2.2rem;
            
            .input-div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap:1rem;
            }
    
                select{
                    width: 60%;
                    height: 2rem;
                    font-size: 1rem;
                    padding: 2px;
                }
            
        }
    }
}