.head {
    height: 769px;
    background-color: #ffffff;
    width: 100%;
    z-index: -1;
    padding: 0;
    display: flex;
    justify-content: center;

    .head-background {
        top: 0;
        height: 769px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;

        .head-search {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(300%);
        }

        .head-text {
            height: 310px;
            padding: 14rem 5rem;
            padding-bottom: 0;

            p {
                font-size: 45px;
                color: white;
                margin-bottom: 0;
            }

            span {
                font-size: 88px;
                font-weight: bold;
                color: rgb(225, 174, 241);
            }

        }

        .head-three-btns {
            display: flex;
            justify-content: center;
            gap: 12px;

            .head-btn {
                height: 76px;
                width: 208px;
                background-color: rgba(225, 174, 241, .7);
                box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.5);
                border: none;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                transition: all 1s;

                &:hover {
                    background-color: rgba(225, 174, 241, .9);
                    border-radius: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .head {

        .head-background {
            .head-text {
                height: auto;

                p {
                    font-size: 2.5rem;
                }

                span {
                    font-size: 4rem;
                }


            }

            .head-three-btns {
                gap: 10px;

                .head-btn {
                    width: 200px;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .head {

        .head-background {
            height: 90%;

            .head-text {
                padding-bottom: 0;

                p {
                    font-size: 1.5rem;
                }

                span {
                    font-size: 2.8rem;
                }


            }

            .head-three-btns {
                gap: 9px;

                .head-btn {
                    width: 7rem;
                    padding: 1rem;
                    font-size: 1rem;
                }
            }
        }
    }
}


@media only screen and (max-width: 520px) {
    .head {

        .head-background {
            height: 70%;
            .head-text {
                margin-top: 1rem;

                p {
                    font-size: 1rem;
                }

                span {
                    font-size: 2rem;
                }


            }

            .head-three-btns {
                gap: 2px;
                padding-top: 10px;

                .head-btn {
                    width: 4rem;
                    height: 2.5rem;
                    padding: 0.5rem;
                    font-size: 0.5rem;
                }
            }
        }
    }
}