.memberhead {
    padding: 0;
    margin: 0;
    height: 545px;
    width: 100%;
    background: url(./Mmbrshp.png) no-repeat center center;
    // background-repeat: no-repeat;
    // background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .insidetxt {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

        .headspan {
            font-size: 40px;
            font-weight: bold;
        }

        .txtspan {
            font-size: 21px;
        }
    }
}

.plan_options {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    button {
        height: 42px;
        width: 168px;
        border: 1px solid rgb(96, 71, 123)
    }

    .monthly {
        color: rgb(96, 71, 123);
        background-color: white;
        border-radius: 50px 0 0 50px;
    }

    .yearly {
        color: rgb(96, 71, 123);
        background-color: white;
        border-radius: 0 50px 50px 0;
    }

    .active {
        color: white;
        background-color: rgb(96, 71, 123);
    }
}

.plans_container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;

    .plan {
        height: 590px;
        width: 290px;
        border: 3px solid rgb(96, 71, 123);
        padding: 5px;
        background-color: rgb(180, 180, 180);
        border-radius: 5px;

        .plan_box {
            height: 100%;
            border-radius: 5px;
            background-color: rgb(242, 242, 242);
            border: 2px solid rgb(150, 150, 150);

            .planName {
                height: 55px;
                width: 200px;
                background: linear-gradient(to right, rgb(96, 71, 123), rgb(209, 129, 225));
                margin-top: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 25px;
                font-weight: bold;
            }

            .price {
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(96, 71, 123);
                font-size: 30px;
                font-weight: bold;
                margin: 3rem 0;

                .per {
                    font-size: 20px;
                    font-weight: normal;
                }
            }

            .subscribe {
                display: flex;
                justify-content: center;

                button {
                    width: 150px;
                    height: 44px;
                    background-color: rgb(96, 71, 123);
                    color: white;
                    border-radius: 7px;
                }
            }

            .features {
                margin-left: 1rem;
            }
        }
    }
}

hr {
    width: 90%;
    margin: 4rem auto;
}

.faq_section {
    margin-left: 5rem;

    .faqs {
        font-size: 40px;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .q {
        margin-top: 1rem;

        span {
            font-size: 25px;
            font-weight: bold;
        }

        .a {
            margin-top: 1rem;
            margin-bottom: 2rem;

            span {
                font-size: 21px;
                font-weight: normal;
            }
        }
    }
}

@media only screen and (max-width:1270px) {
    .memberhead {
        .insidetxt {
            padding: 1rem;

            .headspan {
                font-size: 2.3rem;
                font-weight: bold;
            }

            .txtspan {
                font-size: 1.3rem;
            }
        }
    }

    .plan_options {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        button {
            height: 2.3rem;
            width: 8rem;
            border: 1px solid rgb(96, 71, 123);
            font-size: 1rem;
        }
    }

    .plans_container {
        padding: 1rem;
    }

}

@media only screen and (max-width:770px) {
    .memberhead {
        .insidetxt {
            .headspan {
                font-size: 1.5rem;
                font-weight: bold;
            }

            .txtspan {
                font-size: 1rem;
            }
        }
    }

    .plan_options {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        button {
            height: 2.1rem;
            width: 4.9rem;
            border: 1px solid rgb(96, 71, 123);
            font-size: 0.7rem;
            font-weight: normal;
        }
    }

    .plans_container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .plan {
            height: auto;
            width: 70%;
            padding: 5px;

            .plan_box {

                .planName {
                    height: 3rem;
                    width: 200px;
                    font-size: 1.4rem;
                    font-weight: bold;
                }

                .price {
                    font-size: 1.4rem;

                    .per {
                        font-size: 1.2rem;
                    }
                }

                .subscribe {

                    button {
                        width: 7rem;

                    }
                }

                .features {
                    margin-left: 1rem;
                }
            }
        }
    }

}