.contain {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .navbar {
        height: 120px;
        display: flex;
        justify-content: space-between;
        background: transparent;
        align-items: center;
        transition: all 3s ease;
        background: linear-gradient(to right, rgba(121, 134, 248, 0.6), rgba(175, 121, 219, 0.6));

        .searchontop {
            display: none;
        }

        &.barcolor {
            // background: linear-gradient(to right, rgba(121, 134, 248, 0.6), rgba(175, 121, 219,0.6));

            .searchontop {
                display: block;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        
        .logo {
            margin-left: 30px;
            margin-top: 12px;
            margin-bottom: 4px;
            padding: 8px;
            display: flex;
            align-items: center;
            gap: 35px;

            @media only screen and (max-width:1435px) {
                margin-left: 18px;
                margin-top: 8px;
                margin-bottom: 2px;
                padding: 5px;
            }

            img {
                @media only screen and (max-width:1435px) {
                    width: 150px;
                }
            }
        }

        .baroptions {
            display: flex;
            align-items: center;
            margin-right: 30px;
            gap: 50px;

            @media only screen and (max-width:1435px) {
                margin-right: 15px;
                gap: 30px;
                font-size: 18px;
            }

            .barlinks {
                display: flex;
                align-items: center;
                gap: 20px;



                .bartext {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: #4d2048;
                    }
                }
            }

            .login {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 21px;

                @media only screen and (max-width:1435px) {
                    gap: 15px;
                    font-size: 18px;
                }

                .signlink {
                    font-weight: bold;
                    color: darkviolet;
                    transition: all 0.5s;

                    &:hover {
                        color: rgb(193, 87, 239);
                    }

                }

                .joinbtn {
                    border: 0.5px solid white;
                    border-radius: 15px;
                    background-color: darkviolet;
                    color: white;
                    font-size: 21px;
                    font-weight: bold;
                    width: 80px;
                    height: 40px;
                    transition: all 0.5s;
                    cursor: pointer;

                    &:hover {
                        border-radius: 12px;
                        background-color: rgb(69, 3, 98);
                    }

                    @media only screen and (max-width:1435px) {
                        font-size: 18px;
                        width: 60px;
                        height: 30px;
                    }
                }
            }

        }

    }

    .categorybar {
        height: 102px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(96, 71, 123, 0.6);

        .categoryoption {
            cursor: pointer;
            color: white;
            display: flex;
            align-items: center;
            gap: 35px;
            transition: all 1s;
            position: relative;

            &:hover {
                .categonamespan {
                    color: black;
                }

                .downicon {
                    height: 10px;
                    width: 13px;
                    background-color: black;
                }
            }

            .downicon {
                transition: all 1s;
            }

            .submenu {
                background-color: rgba(255, 255, 255, 0.7);
                box-shadow: 1px 1px 5px black;
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 40px;
                align-items: flex-start;
                min-width: 11rem;

                .link {
                    color: black;
                    padding: 5px;

                    &:hover {
                        color: rgb(85, 2, 74);
                    }
                }
            }

            @media only screen and (max-width:1435px) {
                gap: 20px;

                .categonamespan {
                    font-size: 14px;
                }
            }
        }

        @media only screen and (max-width:1435px) {
            padding: 0 10px;

        }
    }
}

.mobilebar {
    background: linear-gradient(to right, rgba(121, 134, 248, 0.6), rgba(175, 121, 219, 0.6));
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mobilelogo {
        margin-left: 15px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 3px;

        img {
            width: 75px;
        }
    }

    .mobilebaroptions {
        display: flex;
        align-items: center;
        gap: 1rem;

        .mobilejoinbtn {
            border: 0.5px solid white;
            border-radius: 15px;
            background-color: darkviolet;
            color: white;
            font-size: 14px;
            width: 82px;
            height: 25px;
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
                border-radius: 12px;
                background-color: rgb(69, 3, 98);
            }
        }

        .dropdown {
            position: relative;
            display: flex;
            align-items: center;

            img {
                cursor: pointer;
                width: 35px;
            }

            .dropdownmenu {
                position: absolute;
                border: 1px solid white;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                right: 0;
                margin: 0.3rem;
                top: 2rem;
                background-color: rgb(69, 3, 98);
                width: 130px;

                .menuoption {
                    border-bottom: 1px solid white;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                    padding: 4px;
                    margin-top: 3px;
                    font-size: 14px;
                }

            }
        }
    }

}

.language {
    border: 1px solid rgb(249, 194, 252);
    border-radius: 3px;
    padding: 2px;
    transition: all 0.5s;
    text-decoration: none;
    color: white;

    &:hover {
        border-radius: 5px;
        background-color: rgba($color: #4d2048, $alpha: 0.4);
    }
}
p{
    &:hover{
        color: rgb(96, 71, 123);
    }
}