.settings {
    margin-top: 16rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(96, 71, 123);
    gap: 2rem;
.form{
    width: 95%;

    .block {
        padding: 1.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 95%;
        border-radius: 5px;
        background-color: white;

        .handle-input {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 96%;
            gap: 0.5rem;

            span {
                font-size: 1.2rem;
                font-weight: bold;
                color: rgb(96, 71, 123);
            }

            .select {
                width: 60%;
                height: 2.5rem;
                padding: 3px;
            }
            input{
                width: 60%;
                height: 2.5rem;
                padding: 3px;
            }

            .pass-div{
                width: 60%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .show-hide{
                    color: black;
                    font-size: 1rem;
                    font-weight: normal;
                    padding: 1rem;
                    cursor: pointer;
                }
                input{
                    width: 96%;
                }
            }
        }

        .hr-soft {
            margin: 0;
            width: 80%;
            border: 1px solid rgb(96, 71, 123);
        }
        .password-span{
            color: rgb(96, 71, 123);
            padding: 0.5rem;
            border: 2px solid rgb(96, 71, 123);
            border-radius: 5px;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .save{
            background-color: rgb(96, 71, 123);
            color: white;
            width: 25%;
            height: 3rem;
            border-radius: 5px;
            box-shadow: 2px 2px 4px black;
        }
    }
}
}