.post-job {
    margin-top: 18rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;

    .hr {
        width: 75%;
        border: 0.5px solid gray;
    }
    .hr-break{
        border: 2px solid rgb(96, 71, 123);
        margin: 1.5rem;
        width: 99%;
    }

    .handle-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;

        .errors {
            font-size: 1rem;
            color: rgb(255, 0, 0);
            font-weight: bold;
            margin-bottom: 2rem;
            margin: 10px 0;
        }
    }

    .title {
        font-size: 60px;
        font-weight: bold;
        color: rgb(96, 71, 123);
        margin-bottom: 3rem;
    }
    
    .job-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 80%;
        height: 100%;

        #titlejob {
            width: 90%;
            height: 4rem;
            border-radius: 5px;
            font-size: 1rem;
            padding: 8px;
            border: 3px solid rgb(96, 71, 123)
        }

        .description-area {
            width: 90%;
            height: 160px;
            resize: none;
            border-radius: 5px;
            font-size: 1rem;
            padding: 8px;
            border: 3px solid rgb(96, 71, 123);
        }

        .select {
            width: 80%;
            height: 4rem;
            text-align: center;
            font-size: 1.5rem;
            border-radius: 5px;
            padding: 8px;
            border: 3px solid rgb(96, 71, 123);
            cursor: pointer;
        }
        
        .payment-method {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 1rem;

            .price-input {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0;

                .handle-input {
                    width: 73%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    #price {
                        width: 98%;
                        height: 4rem;
                        border-radius: 5px;
                        font-size: 1rem;
                        padding: 8px;
                        border: 3px solid rgb(96, 71, 123)
                    }
                }

                #currency {
                    background-color: rgb(96, 71, 123);
                    padding: 3px;
                    color: white;
                    font-size: 2rem;
                    // width: 5%;
                    height: 5.1rem;
                    margin-bottom: 1rem;
                    border-radius: 5px;
                }
            }
        }

        .post-type {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .type {
                border: 3px solid;
                padding: 5px;
                border-radius: 5px;
                font-size: 1.5rem;
                font-weight: bold;
                display: flex;
                flex-direction: column;
                width: 79%;
                
                .vip{
                    color: white;
                    background-color: rgb(96, 71, 123);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 3px;
                    gap: 2rem;
                    #checkbox{
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }
            }
            .handle-input{
                width: 80%;
                margin-top: 2rem;
                color: red;
                font-size: 2rem;
                border: 1px solid black;
                padding: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                .submit{
                    background-color: rgb(96, 71, 123);
                    border-radius: 5px;
                    color: white;
                    font-size: 1.5rem;
                    padding: 8px;
                    width:20rem;
                    height: 4rem;
                    margin-top: 2rem;
                }
                .not-submit{
                    background-color: rgb(96, 71, 123);
                    border-radius: 5px;
                    color: white;
                    font-size: 1.5rem;
                    padding: 8px;
                    width:8rem;
                    height: 3rem;
                }
            }
        }
        span, label {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}