.post_job {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5rem;
    gap: 2rem;

    .title {
        font-size: 60px;
        font-weight: bold;
        color: rgb(96, 71, 123);
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
    }

    .job_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 4rem;
        #titlejob{
            height: 75%;
            width: 50%;
            border-radius: 0;
        }
    }

    .select_category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 69px;

        #categlist {
            height: 75%;
            width: 50%;
        }
    }

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        // height: 69px;

        #skill {
            height: 75%;
            width: 50%;
        }

        ul {
            height: auto;

            li {
                height: auto;
            }
        }
    }

    .job_description {
        display: flex;
        flex-direction: column;

        .description_area {
            width: 90%;
            height: 160px;
            resize: none;
            border-radius: 5px;
        }
    }

    .file_attach {
        display: flex;
        flex-direction: column;
    }

    .pay_method {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 69px;

        #method {
            height: 75%;
            width: 50%;
        }
    }

    .budget {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 7px;

        #price {
            width: 580px;
            height: 69px;
        }

        #currency {
            width: 70px;
            height: 74px;
            padding: 3px;
            color: white;
            background-color: rgb(96, 71, 123);
            border-radius: 5px;
        }
    }

    .post_type {
        margin: 2rem 0;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .type {
            display: flex;
            flex-direction: column;
            border: 4px double rgb(96, 71, 123);
            border-radius: 5px;

            .vip {
                border: 3px solid rgb(96, 71, 123);
                border-radius: 4px;
                margin: 1rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: rgba(96, 71, 123, 0.7);
                ;

                #checkbox {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }

        .submit {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(96, 71, 123);
            color: white;
            width: 450px;
            height: 76px;
            font-size: 30px;
            border-radius: 7px;
        }

    }

    input {
        border-radius: 5px;
    }

    font-size: 20px;
}

@media only screen and (max-width: 700px) {
    .post_job {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-left: 1rem;
        gap: 1rem;

        .title {
            font-size: 20px;
            font-weight: bold;
            color: rgb(96, 71, 123);
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
        }

        .select_category {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            height: 3rem;

            #categlist {
                height: 75%;
                width: 50%;
            }
        }

        .job_description {
            display: flex;
            flex-direction: column;

            .description_area {
                width: 90%;
                height: 100px;
                resize: none;
                border-radius: 5px;
            }
        }

        .budget {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 2px;

            #price {
                width: 80%;
                // height: 10%;
            }

            #currency {
                width: 2rem;
                // height: 8rem;
                padding: 1px;
                color: white;
                background-color: rgb(96, 71, 123);
                border-radius: 5px;
            }
        }
        .post_type{
            .submit{
                width: 70%;
                height: 4rem;
                font-size:15px;
            }
        }
    }

}